<div class=" container mb-5 text-center">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card-container text-center">
                <a class="card" rel="noopener" routerLink="/courses/id1">
                    <p class="mt-3">UML</p></a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card-container text-center">
                <a class="card" rel="noopener" routerLink="/courses/id1">
                    <p class="mt-3">Natural Language Processing</p></a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card-container text-center">
                <a class="card" rel="noopener" routerLink="/courses/id1">
                    <p class="mt-3">Web Application with Java & Spring</p></a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card-container text-center">
                <a class="card" rel="noopener" routerLink="/courses/id1">
                    <p class="mt-3">Data Warehouse & Data Lake</p></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card-container text-center">
                <a class="card" rel="noopener" routerLink="/courses/id1">
                    <p class="mt-3">Big Data I</p></a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card-container text-center">
                <a class="card" rel="noopener" routerLink="/courses/id1">
                    <p class="mt-3">Big Data II</p></a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card-container text-center">
                <a class="card" rel="noopener" routerLink="/courses/id1">
                    <p class="mt-3">Intelligence Artificielle I – Machine Learning</p></a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card-container text-center">
                <a class="card" rel="noopener" routerLink="/courses/id1">
                    <p class="mt-3">Intelligence Artificielle II – Deep Learning</p></a>
            </div>
        </div>
    </div>
</div>

