<div class="card-container text-center">
    <a class="card" rel="noopener" routerLink="/courses/id1">
        <p><span><b>ID</b> </span>
        <i class="bi bi-1-circle-fill"></i></p></a>

    <a class="card" rel="noopener" routerLink="/courses/id2">
        <p><span><b>ID</b>  </span>
            <i class="bi bi-2-circle-fill"></i></p>
    </a>

    <a class="card" rel="noopener" routerLink="/courses/id3">
        <p><span><b>ID</b> </span>
            <i class="bi bi-3-circle-fill"></i></p>
    </a>
</div>