<div class="navbar-nav pt-2" id="navbar">
    <div class="row container-lg m-auto">
        <div class="col-3">
            <div class="row align-items-center">
                <div class="text-center" id="logo">
                    <img src="../../assets/logo data .png" alt="Data Club logo">
                    <p class="mt-2">DATA Club - ENSAH</p>
                </div>        
            </div>
        </div>
        <div class="col-6 mt-3 text-center">
            <p id ="title">DATA Engineering CLUB</p>
            
        </div>
        <div class="col-3">
            <div class="row align-items-center">
                <div class="text-center" id="logo">
                    <img src="../../assets/t1.png" alt="Data Club logo" width="50px">
                    <p class="mt-2">National School Of Applied Sciences Al-Hoceima</p>
                </div>        
            </div>
        </div>
    </div>
    
</div>
<div class="card-container">
    <a class="card" rel="noopener" routerLink="/home">
        <i class="bi bi-house-door-fill"></i>
        <span>Home</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg> </a>

    <a class="card" rel="noopener" routerLink="/courses">
        <i class="bi bi-file-earmark-pdf-fill"></i>
        <span>Courses</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
    </a>

    <a class="card" rel="noopener" routerLink="/projects">
        <i class="bi bi-kanban-fill"></i>
        <span>Projects</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
    </a>

    <a class="card" rel="noopener">
        <i class="bi bi-envelope-at-fill"></i>
        <span>Contact Us</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
    </a>
</div>